%section.ten-oh-announcement
  .ten-oh-label
    %span 11.5
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              GitLab 11.5 released with Group Security and Operations Dashboards, Access Control for GitLab Pages, Knative for Kubernetes, and much more!

            .btn-group
              %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2018/11/22/gitlab-11-5-released/"}
                See what’s new
