.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/2018/11/22/gitlab-11-5-released/' }
    .hello-bar-content
      -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
      %p
        GitLab 11.5 released with Serverless, access control for Pages and much more!
